.filter {
  text-align: center;
  border:2px solid #EDEDED;
  padding:20px;
}
.space-inbtw {
  margin-top:25px;
}
.car-image{
  vertical-align: middle;
  border-style: none;
  text-align: center;
  width: 100%;
  height: auto;
  max-width: 190px;
}
.carItem{
  border:2px solid #EDEDED;
  margin-top:20px;
  padding:15px;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
} 
.pagination button {
   padding:20px;
   background: none;
   border: none;
   color: #EA7F28;
   font-weight: bold;
   font-family: SANS-SERIF;
   font-size: 14px;
   cursor: pointer;
}
.pagination button:disabled {
  padding:20px;
  background: none;
  border: none;
  color: #EA7F28;
  font-weight: bold;
  font-family: SANS-SERIF;
  font-size: 14px;
  cursor:none;
}
.pagination button:hover {
  padding:20px;
  background: none;
  border: none;
  color: #EA7F28;
  font-weight: bold;
  font-family: SANS-SERIF;
  font-size: 14px;
  cursor:pointer;
}
.pagination span{
  padding:20px;
  display:inline-block;
}
.footer {
  text-align:center;
  color: #4A4A4A;
  font-size: 18px;
}
.carshow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.header{
  height: 80px  !important;
  border-bottom:2px solid #EDEDED !important;
}
.App-logo{
  width: 100%;
  height: auto;
  max-width: 190px;
}
.link-header{
  color:#4A4A4A;
  font-weight: bold;
}
.custom-filterBtn{
  width: 128px  !important;
  background: #EA7F28  !important;
  border: none  !important;
}
.filterBtn:active  {
  width: 128px;
  background: #EA7F28;
  border: none;
}
.savebtn{
  background: none  !important;
  border: none  !important;
  color: #EA7F28   !important;
  font-weight: bold  !important;
  font-family: SANS-SERIF  !important;
  font-size: 14px  !important;
  cursor:pointer  !important;
  text-decoration:none  !important;

}
.savebtn:hover{
  background: none;
  border: none;
  color: #EA7F28;
  font-weight: bold;
  font-family: SANS-SERIF;
  font-size: 14px;
  cursor:pointer;
  text-decoration:none;
}
.footer {
  height: 80px  !important;
  border-top:2px solid #EDEDED !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerText {
   height:20px
}

.carDisplay{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EDEDED;
}

.carDisplay img {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin-top:24px;
  margin-bottom:24px;
}
.mx-auto {
  padding:20px !important;
}




